@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
  font-family: 'Azeret Mono', monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* 1st section start */
.background {
  max-width: 1320px;
  height: 652px;
  margin: 0 auto;
  background-image: url(../assets/Hero-bg.png);
  margin-bottom: 80px;
}
.First-contain {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section-img {
  width: 3.5px;
  height: 4.87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20%;
}
.first-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.first-section-text h1 {
  text-align: center;
}
.first-section-text p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}
.first-section-text button {
  width: 178px;
  height: 50px;
  border-radius: 8px;

  background: rgb(13, 19, 33);
  color: white;
}
/* 1st section end */

/* 2nd section start */

.second-section {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
}
.second-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 47px;
}
.second-section-text h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.second-section-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}
.second-img-text {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.second-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
}
.second-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.second-text button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}
.third-img-text {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  display: flex;
}

.third-text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
}
.third-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.third-text button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.fourth-img-text {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.fifth-section {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.fifth-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fifth-text-section h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.fifth-text-section p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 80px;
}
.fifth-section-video {
  width: 1076px;
  height: 550px;
  margin: 0 auto;
}

/* target section start */
.target-section {
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.target-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hcj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* target section div  */

.target-section-div {
  display: flex;
}
.left-div {
  width: 364px;
  height: 299px;
  margin: 0 auto;

  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-div {
  width: 364px;
  height: 299px;
  margin: 0 auto;

  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-div {
  width: 364px;
  height: 299px;
  margin: 0 auto;

  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.target-language {
  width: 284px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.target-paragraph {
  width: 284px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* support section */

.support-section {
  width: 1140px;
  height: 313px;
  margin: 0 auto;

  background-image: url(../assets/handshake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.support-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-section-text h3 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
}
.support-section-text p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
.frame-section {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.box {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  width: 548px;
  height: 57px;
  margin-right: 60px;
}
.frame-submit {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 57px;
}

/* footer start */
.last-section {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  margin-top: 112px;
  display: flex;
  justify-content: space-between;
}
.last-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
.social-icon {
  display: flex;
  gap: 2px;
  width: 157.01px;
  height: 36px;
  justify-content: space-around;
  margin-left: 520px;
}
#footer {
  display: flex;
}
